@import "tailwindcss";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  background-color: white;
  margin: 0;
  padding: 0;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Outfit;
  margin: 0;
  padding: 0;
  min-width: 1000px;
}

.content {
  min-width: 1000px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.statics-card-title {
  color: var(--Text-Primary, #323130);

  /* Label LG MED */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
}

.statics-card-metrics {
  color: var(--Text-Primary, #323130);

  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 128.571% */
}

nav > a {
  display: flex;
  padding: 1.5rem 1rem;
}

nav > a:hover {
  padding-bottom: 1.25rem;
  border-bottom-width: 0.25rem;
  border-bottom-color: #3b4cbf;
}

nav > div {
  display: flex;
  padding: 1.5rem 1rem;
}

nav > div:hover {
  padding-bottom: 1.25rem;
  border-bottom-width: 0.25rem;
  border-bottom-color: #3b4cbf;
}

.searchHeader {
  color: #323130;
  font-feature-settings: "liga" off, "clig" off;

  /* Heading */
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}

.search-select {
  color: var(--Primary, #3b4cbf);
  text-align: center;

  /* Label MED */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.search-pagination {
  color: #323130;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.search-dot {
  color: var(--Gray-700, #706f6e);
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px; /* 71.429% */
}

.search-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #323130;
  font-family: Outfit;
}

.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translateY(-50%);
  background-color: white; /* Ensure solid background */
  opacity: 1; /* Full opacity */
  z-index: 10; /* Ensure it's above other elements */
  pointer-events: auto; /* Ensures it remains interactive */
}

.tooltip::after {
  position: absolute;
  top: 50%;
  left: -1px; /* Position the arrow on the left */
  transform: translateY(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent white;
  filter: drop-shadow(
    0px 0px 2px rgba(0, 0, 0, 0.1)
  ); /* Soft shadow to blend with background */
}

.full-profile {
  overflow-y: auto;
}

.custom-placeholder::placeholder {
  color: #c0c0c0;
  font-size: 14px;
  font-weight: 400;
}

.custom-dropdown .p-dropdown-label.p-placeholder {
  color: #c0c0c0;
  font-size: 14px;
  font-weight: 400;
}
